/* variables */
/* defaults */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  background-color: #0e0b16;
  color: #e7dfdd;
  height: 100%;
}

body #root {
  height: 100%;
}

body input,
body input:focus {
  text-align: center;
  width: 100%;
  border-radius: 20px;
  border-style: none;
  border: none;
  background-color: #e7dfdd;
  font-size: 20px;
  color: #0e0b16;
  outline: none;
}

@media screen and (min-width: 400px) {
  body input,
  body input:focus {
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  body input,
  body input:focus {
    height: 23px;
  }
}

body input[type="submit"] {
  outline: none;
  margin: 2vh;
  text-align: center;
  width: 30%;
  border-radius: 20px;
  border-style: none;
  border: none;
  background-color: #a239ca;
  font-size: 20px;
  color: #0e0b16;
}

@media screen and (min-width: 400px) {
  body input[type="submit"] {
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  body input[type="submit"] {
    height: 23px;
  }
}

a {
  color: #a239ca;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* text */
.XL {
  font-size: 10em;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

.L {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.M {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.S {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.btn {
  display: inline-block;
  background: #e7dfdd;
  color: #0e0b16;
  padding: 0.4em 1.3em;
  font-size: 1.5em;
  border: none;
  margin-right: 0.5em;
  border-radius: 0.7em;
  text-align: center;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 2em;
  margin-top: 10em;
  margin-bottom: 5em;
}

.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #e7dfdd;
  height: 100%;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #a239ca;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
}

.navbar .link {
  padding: 0.5em;
  margin: 0 1em;
}

/* forms */
.form-group {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="number"],
.form input[type="date"],
.form input[type="file"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4em;
  font-size: 1.2em;
  border: none;
  font-family: inherit;
}

.form input[type="submit"],
button {
  font-family: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

#profile #profile_col {
  height: 100%;
}

@media screen and (min-width: 400px) {
  #profile #profile_col {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  #profile #profile_col {
    width: 80%;
  }
}

#profile #profile_col .profile_sep {
  margin-bottom: 1vh;
}

#profile #profile_col .profile_sep #profile_img {
  border-radius: 50%;
  border-color: 10px;
  border-style: solid;
  width: 15vh;
  height: 15vh;
}

#profile #profile_col .profile_sep .input_rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#profile #profile_col .profile_sep .input_rows input {
  margin: 10px;
}

#doctor_form {
  padding-top: 8vh;
  text-align: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#doctor_form .center {
  height: 100%;
}

@media screen and (min-width: 400px) {
  #doctor_form .center {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  #doctor_form .center {
    width: 95%;
    font-size: 2.5vh;
  }
}

#doctor_form .center .doctor_tile {
  background-color: #e7dfdd;
  margin: 5vh;
  padding: 5vh;
  border-radius: 2vh;
}

#doctor_form .center .doctor_tile h2 {
  color: black;
  margin-bottom: 2vh;
}

#doctor_form .center .doctor_tile label {
  color: black;
}

#doctor_form .center .doctor_tile input[type="text"] {
  margin-bottom: 4vh;
  border-style: solid;
  border-width: 2px;
  border-color: #4717f6;
}

#doctor_form .center .doctor_tile input[type="submit"] {
  background-color: #a239ca;
}

@media screen and (min-width: 400px) {
  #doctor_form .center .doctor_tile input[type="submit"] {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  #doctor_form .center .doctor_tile input[type="submit"] {
    width: 90%;
  }
}
/*# sourceMappingURL=App.css.map */
