/* variables */

$primary-color: #4717f6;
$dark-color: #0e0b16;
$accent-color: #a239ca;
$light-color: #e7dfdd;
$mobile-breakpoint: 738px;

/* defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: $dark-color;
  color: $light-color;
  height: 100%;
  // animation: pulse 5s infinite;

  #root {
    height: 100%;
  }

  input,input:focus {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: none;
    background-color: $light-color;
    font-size: 20px;
    color: $dark-color;
    outline: none;
  }

  @media screen and (min-width: 400px) {
    input, input:focus{
      height:40px;
    }
  }  

  @media screen and (max-width: 400px) {
    input,input:focus {
      height:23px;
    }
  }

  input[type=submit]{
    outline: none;
    margin: 2vh;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    border-style: none;
    border: none;
    background-color: $accent-color;
    font-size: 20px;
    color: $dark-color;
  }

  @media screen and (min-width: 400px) {
    input[type=submit]{
      height:40px;
    }
  }

  @media screen and (max-width: 400px) {
    input[type=submit]{
      height:23px;
    }
  }
}



a {
  color: $accent-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* text */

.XL {
  font-size: 10em;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

.L {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.M {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.S {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.btn {
  display: inline-block;
  background: $light-color;
  color: $dark-color;
  padding: 0.4em 1.3em;
  font-size: 1.5em;
  border: none;
  margin-right: 0.5em;
  border-radius: 0.7em;
  text-align: center;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 2em;
  margin-top: 10em;
  margin-bottom: 5em;
}

.landing {
  position: relative;
  // background-color: rgba(0, 0, 0, 0.3);
  // background-image: url('../img/landingimage.jpg');
  // background-blend-mode: multiply;
  // background-size: cover;
  height: 100vh;
}

.landing-inner {
  color: $light-color;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $accent-color;
  background-color: rgba(0, 0, 0, 0.9);

  ul {
    display: flex;
    font-size: 1.3em;
  }

  .link {
    padding: 0.5em;
    margin: 0 1em;
  }
}

/* forms */

.form-group {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form input[type='date'],
.form input[type='file'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4em;
  font-size: 1.2em;
  border: none;
  font-family: inherit;
}

.form input[type='submit'],
button {
  font-family: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;

  #profile_col {
    // background-color: white;
    height: 100%;

    @media screen and (min-width: 400px) {
      width: 40%;
    }

    @media screen and (max-width: 400px) {
      width: 80%;
    }

    .profile_sep {
      margin-bottom: 1vh;

      #profile_img {
        border-radius: 50%;
        // border-color: 10px;
        border-style: solid;
        width: 15vh;
        height: 15vh;
      }

      .input_rows {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
          margin: 10px;
        }
      }

    }

  }
}

#doctor_form{
  padding-top: 8vh;
  text-align: center;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .center{
    height:100%;
    
    @media screen and (min-width: 400px) {
      width:50%;
    }

    @media screen and (max-width: 400px) {
      width:95%;
      font-size: 2.5vh;
    }

    .tile{
      background-color: $light-color;
      margin:5vh;
      padding: 7vh;
      padding-top: 4vh;
      padding-bottom: 4vh;
      border-radius: 1vh;   
      box-shadow: 20px 20px 50px #a139ca86;

      h1{
        color:black;
        margin-bottom:4vh;
      }

      h2{
        color:black;
        margin-bottom: 2vh;
      }

      label{
        color:black;
      }
      input[type=text], input[type=date]{
        margin-bottom: 4vh;
        margin-top: 1vh;
        border-style: solid;
        border-width:2px;
        border-color: gray;
      }

      input[type=submit]{
        background-color:$accent-color;
        color:white;

        @media screen and (min-width: 400px) {
          width:70%;
        }
    
        @media screen and (max-width: 400px) {
          width:90%;
        }
    
      }

      
    }
  }
}