/* variables */

$primary-color: #4717f6;
$dark-color: #0e0b16;
$accent-color: #a239ca;
$light-color: #e7dfdd;
$mobile-breakpoint: 738px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: black;
  color: $light-color;
  height: 100%;
  // animation: pulse 5s infinite;

  #root {
    height: 100%;
  }

  input,
  input:focus {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: none;
    background-color: $light-color;
    font-size: 20px;
    color: $dark-color;
    outline: none;
  }

  // @media screen and (min-width: 400px) {
  //   input,
  //   input:focus {
  //     height: 40px;
  //   }
  // }

  // @media screen and (max-width: 400px) {
  //   input,
  //   input:focus {
  //     height: 23px;
  //   }
  // }

  input[type='submit'] {
    outline: none;
    margin: 2vh;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    border-style: none;
    border: none;
    background-color: $accent-color;
    font-size: 20px;
    color: $dark-color;
  }
}

a {
  color: $accent-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* text */

.XL {
  font-size: 10em;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

.L {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.M {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.S {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: $light-color;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .continue {
    font-size: 200%;
  }
  .continue:hover {
    cursor: pointer;
    color: $accent-color;
    transition: 0.3s;
  }
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 15%;

  .login {
    padding-top: 1vh;
    padding: 0.7vw;
    background-color: $light-color;
    color: $dark-color;
    border-radius: 1vh;
    box-shadow: 20px 20px 50px #a139ca86;
    text-align: center;

    .admin-auth {
      margin-top: 1vh;
    }

    .btn-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $accent-color;
  background-color: rgba(0, 0, 0, 0.9);

  ul {
    display: flex;
    font-size: 1.3em;
  }

  .link {
    padding: 0.5em;
    margin: 0 1em;
  }
}

/* forms */

.form-group {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='file'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4em;
  font-size: 1.2em;
  border: none;
  font-family: inherit;
}

input[type='submit'],
button {
  font-family: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;

  #profile_col {
    // background-color: white;
    height: 100%;

    @media screen and (min-width: 400px) {
      width: 40%;
    }

    @media screen and (max-width: 400px) {
      width: 80%;
    }

    .profile_sep {
      margin-bottom: 1vh;

      #profile_img {
        border-radius: 50%;
        // border-color: 10px;
        border-style: solid;
        width: 15vh;
        height: 15vh;
      }

      .input_rows {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
          margin: 10px;
        }
      }
    }
  }
}

.saved {
  text-align: center;
  color: #18a844;
}

.form {
  padding-top: 3vh;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .center {
    height: 100%;

    @media screen and (min-width: 200px) {
      width: 100%;
      font-size: 2.5vh;
    }

    @media screen and (min-width: 800px) {
      width: 70%;
    }

    .tile {
      background-color: $light-color;
      margin: 5vh;
      padding: 7vh;
      padding-top: 4vh;
      padding-bottom: 4vh;
      border-radius: 1vh;
      box-shadow: 20px 20px 50px #a139ca86;

      h1 {
        color: black;
        margin-bottom: 4vh;
      }

      h2 {
        color: black;
        margin-bottom: 2vh;
      }

      label {
        color: black;
      }
      select,
      input[type='text'],
      input[type='time'],
      input[type='file'],
      input[type='date'] {
        margin-bottom: 4vh;
        margin-top: 1vh;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        font-size: 0.7em;
      }

      input[type='submit'],
      button {
        background-color: $accent-color;
        color: white;
        padding: 0.4em 1.3em;
        border: none;
        cursor: pointer;

        @media screen and (min-width: 200px) {
          width: 80%;
        }

        @media screen and (min-width: 600px) {
          width: 50%;
        }
      }
    }
  }
}

.Menu {
  padding: 1rem;
  position: relative;
  background: #282828;
  height: 100%;

  .menu-link {
    color: $light-color;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 5px;
  }

  .menu-link:hover {
    background-color: $accent-color;
    cursor: pointer;
  }

  button {
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: $light-color;
  }
}

#logo_banner{
  height: 70px;
  width: 70px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 6, 6); 
}